@model List<VS_portfolio_2026.Models.Education>
@{
}


<main>

    <!-- about-me-area-start -->
    <div class="about-me-area about-me-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="tp-about-subtitle-wrap mb-30">
                        <span class="tp-about-subtitle tp_fade_anim" data-delay=".3">
                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1V13.8182H20.7232" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" />
                                <path d="M23 13.8182L15.0349 19.1718L15.0349 8.46456L23 13.8182Z" fill="currentColor" />
                            </svg>
                            About Me
                        </span>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-8 col-lg-10">
                    <div class="pp-about-content">
                        <h2 class="pp-about-title mb-30 tp_fade_anim" data-delay=".4">
                            I’m Abu, a self-taught web and software developer based in India. </h2>
                        <div class="pp-about-dec-wrap">
                            <div class="tp_fade_anim" data-delay=".5">
                                <p class="pp-about-dec mb-50">
                                    What started as a journey into web development has grown into a versatile skill set
                                    covering custom software and SaaS development. I have practical experience building
                                    SaaS applications, and I use every project as a stepping stone to learn better ways
                                    to write clean code and design scalable systems. For me, the best part of coding is
                                    bridging the gap between an abstract idea and a user-ready application. </p>
                            </div>
                            <div class="pp-about-btn d-flex flex-wrap gap-3">
                                <a href="@Url.Action("DownloadCv", "Home")" class="tp-btn pp-btn-download" download>
                                    <span>
                                        <span class="text-1">Download CV</span>
                                        <span class="text-2">Download CV</span>
                                    </span>
                                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6.27295 0.75C6.27295 0.335787 5.93716 1.07513e-07 5.52295 8.9407e-08C5.10874 7.13011e-08 4.77295 0.335786 4.77295 0.75L5.52295 0.75L6.27295 0.75ZM4.99262 14.2734C5.28551 14.5663 5.76039 14.5663 6.05328 14.2734L10.8262 9.50045C11.1191 9.20755 11.1191 8.73268 10.8262 8.43979C10.5334 8.14689 10.0585 8.14689 9.76559 8.43979L5.52295 12.6824L1.28031 8.43979C0.987416 8.14689 0.512542 8.14689 0.219649 8.43979C-0.0732447 8.73268 -0.0732448 9.20755 0.219649 9.50045L4.99262 14.2734ZM5.52295 0.75L4.77295 0.75L4.77295 13.7431L5.52295 13.7431L6.27295 13.7431L6.27295 0.75L5.52295 0.75Z"
                                            fill="currentColor" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-me-area-end -->
    <!-- about-me-slider-start -->
    <div class="about-me-slider-area pt-120 p-relative">
        <div class="about-me-slider-awards">
            <div class="mp-hero-awards mg-hero-awards pp-about-awards mb-40 p-relative d-inline-block">
                <img class="rotate-infinite"
                    src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270588/cropped_circle_image_qnppda.png"
                    alt="award">
                <img class="mp-hero-w-logo"
                    src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270663/shap_ic5zwy.png" alt="">
            </div>
        </div>
        <div class="swiper about-me-slider-active">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="about-me-slider-thumb tp-item-anime marque">
                        <img class="w-70"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771271343/Coffee_Brand_Mockup_-7_p4w1vm.jpg"
                            alt="" height="600px">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-me-slider-thumb tp-item-anime marque">
                        <img class="w-70"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771272119/Mockup-2.2_ggmeva.jpg"
                            alt="" height="600px">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-me-slider-thumb tp-item-anime marque">
                        <img class="w-70"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771271337/macbook-cv-mockup_tmy3nc.jpg"
                            alt="" height="600px">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-me-slider-thumb tp-item-anime marque">
                        <img class="w-70"
                            src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771271337/Label_Tag_Mockup_2-jpg_nwdjuo.jpg"
                            alt="" height="600px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-me-slider-end -->
    <!-- about-me-resume-area-start -->
    <div class="about-me-resume-area pt-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="tp-about-subtitle-wrap mb-20 mt-15">
                        <span class="tp-about-subtitle text-uppercase">
                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1V13.8182H20.7232" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" />
                                <path d="M23 13.8182L15.0349 19.1718L15.0349 8.46456L23 13.8182Z" fill="currentColor" />
                            </svg>
                            resume
                        </span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-me-resume-content mb-20">
                        <h2 class="about-me-resume-maintitle text-uppercase reveal-text">The<br> journey</h2>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="about-me-subtitle-wrap d-flex justify-content-lg-end align-items-end h-100">
                        <span class="tp-about-subtitle text-uppercase mb-30">[ My Education ]</span>
                    </div>
                </div>
                <div class="col-xl-10 offset-xl-2">
                    <div class="about-me-resume-wrap mt-40">

                        @* <div class="about-me-resume-item tp_fade_anim" data-delay=".3">
                        <div class="row">
                        <div class="col-lg-2">
                        <div class="about-me-resume-date mb-30">
                        <span>2022 - 2025</span>
                        </div>
                        </div>
                        <div class="col-lg-5">
                        <div class="about-me-resume-info ml-40 mb-30">
                        <h3 class="about-me-resume-title tp-ff-inter">Bachelor’s in Computer Application
                        </h3>
                        <span class="about-me-resume-location">Techno Main Salt Lake</span>
                        </div>
                        </div>
                        <div class="col-lg-5">
                        <div class="about-me-resume-dec ml-50 mb-30">
                        <p>
                        Built strong fundamentals in programming, data structures, and software
                        engineering
                        </p>
                        </div>
                        </div>
                        </div>
                        </div> *@

                        @* <div class="about-me-resume-item tp_fade_anim" data-delay=".4">
                        <div class="row">
                        <div class="col-lg-2">
                        <div class="about-me-resume-date mb-30">
                        <span>2026 - 2028</span>
                        </div>
                        </div>
                        <div class="col-lg-5">
                        <div class="about-me-resume-info ml-40 mb-30">
                        <h3 class="about-me-resume-title tp-ff-inter">Master’s in Computer Application
                        </h3>
                        <span class="about-me-resume-location">Techno India University</span>
                        </div>
                        </div>
                        <div class="col-lg-5">
                        <div class="about-me-resume-dec ml-50 mb-30">
                        <p>
                        Advancing skills in scalable systems, software architecture, and development
                        </p>
                        </div>
                        </div>
                        </div>
                        </div> *@

                        @if (Model != null && Model.Any())
                        {
                            @foreach (var education in Model)
                            {
                                <div class="about-me-resume-item tp_fade_anim" data-delay=".5">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="about-me-resume-date mb-30">
                                                <span>@education.Year</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="about-me-resume-info ml-40 mb-30">
                                                <h3 class="about-me-resume-title tp-ff-inter">@education.Course</h3>
                                                <span class="about-me-resume-location">@education.College</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="about-me-resume-dec ml-50 mb-30">
                                                <p>@education.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-me-resume-area-end -->
    <!-- tp-skill-area-start -->
    <div class="tp-skill-area pt-160">
        <div class="tp-skill-marquee-wrapper">
            <div class="tp-skill-marquee-content">
                <!-- Original 9 Items -->
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270227/physics_jp4xjp.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">React</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270234/aspnet_upchkg.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">ASP .net</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270231/sql-server_m0cfro.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">SQL</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270220/mongodb_geyoi3.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Mongo DB</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270228/python_grsmc8.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Python</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270217/java_gngpff.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Java</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270205/figma_tu1bzw.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Figma</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270222/photoshop_fizhx9.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Photoshop</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270216/illustrator_jmpab9.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Illustrator</span>
                    </div>
                </div>


                <!-- Duplicated Items for Infinite Scroll -->
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270227/physics_jp4xjp.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">React</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270234/aspnet_upchkg.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">ASP .net</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270231/sql-server_m0cfro.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">SQL</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270228/mongodb_geyoi3.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Mongo DB</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270228/python_grsmc8.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Python</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270217/java_gngpff.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Java</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270205/figma_tu1bzw.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Figma</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270222/photoshop_fizhx9.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Photoshop</span>
                    </div>
                </div>
                <div class="tp-skill-marquee-item">
                    <div class="tp-skill-item d-flex flex-column mb-25 align-items-center">
                        <div class="tp-skill-icon mb-20">
                            <img src="https://res.cloudinary.com/dcd51y8m1/image/upload/v1771270216/illustrator_jmpab9.png"
                                alt="">
                        </div>
                        <span class="tp-skill-text">Illustrator</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tp-skill-area-end -->
    <!-- about-me-resume-area-start -->
    <div class="about-me-resume-area pt-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="tp-about-subtitle-wrap mb-20 mt-15">
                        <span class="tp-about-subtitle text-uppercase">
                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1V13.8182H20.7232" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" />
                                <path d="M23 13.8182L15.0349 19.1718L15.0349 8.46456L23 13.8182Z" fill="currentColor" />
                            </svg>
                            resume
                        </span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-me-resume-content mb-20">
                        <h2 class="about-me-resume-maintitle text-uppercase reveal-text">
                            Experience
                        </h2>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="about-me-subtitle-wrap d-flex justify-content-lg-end align-items-lg-end h-100">
                        <span class="tp-about-subtitle text-uppercase mb-30">[ My Experience ]</span>
                    </div>
                </div>
                <div class="col-xl-10 offset-xl-2">
                    <div class="about-me-resume-wrap mt-40">
                        <div class="about-me-resume-item tp_fade_anim" data-delay=".3">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="about-me-resume-date mb-30">
                                        <span>Feb 2023 -<br>Mar 2025</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="about-me-resume-info ml-40 mb-30">
                                        <h3 class="about-me-resume-title tp-ff-inter">Designing and Development</h3>
                                        <span class="about-me-resume-location">Freelancing</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="about-me-resume-dec ml-50 mb-30">
                                        <p>
                                            Gained strong foundations in design systems, development workflows, and
                                            usability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-me-resume-item tp_fade_anim" data-delay=".4">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="about-me-resume-date mb-30">
                                        <span>Sep 2025 -<br> Nov 2025</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="about-me-resume-info ml-40 mb-30">
                                        <h3 class="about-me-resume-title tp-ff-inter">CSA</h3>
                                        <span class="about-me-resume-location">Amazon</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="about-me-resume-dec ml-50 mb-30">
                                        <p>
                                            Gained hands-on experience in customer support, issue resolution, and
                                            service operations.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-me-resume-item tp_fade_anim" data-delay=".5">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="about-me-resume-date mb-30">
                                        <span>Nov 2025 - <br>March 2025 </span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="about-me-resume-info ml-40 mb-30">
                                        <h3 class="about-me-resume-title tp-ff-inter">SDS</h3>
                                        <span class="about-me-resume-location">Amazon</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="about-me-resume-dec ml-50 mb-30">
                                        <p>
                                            Gained practical experience in logistics operations, process coordination,
                                            and delivery systems.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-me-resume-area-end -->


</main>
